h1{
    margin: 2em 45% ;
}

.container{
    margin:  5em auto;
    width: 28em;
    height: 25em;
    border: 2px solid dodgerblue;
    border-radius: 20px;
    background: linear-gradient(#ebf303,#2ff94d, #03d7f3);
    box-shadow: 0 0 20px 5px greenyellow;
}

.bottom{
    margin: 2em 10em;
}
